.file-structure {
  overflow-y: scroll;
  padding: 1rem 0;
  padding-right: 1rem;
  flex: 0.3 0 10rem;
  order: -1;
  background-color: #2C363F;
}

.file-structure::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 600px) {
  .file-structure {
    flex-grow: 1.2;
    max-height: calc(100vh - 13rem);
  }
}

.file-structure__icons {
  display: inline-flex;
  padding-right: 0.5rem;
  vertical-align: middle;
}

/* details */
.fs__details,
.fs__file {
  padding-left: 1.4rem;
}

.fs__folder,
.fs__file {
  cursor: pointer;
  color: #DCDCDD;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.fs__folder:hover,
.fs__file:hover {
  color: #E5BD47;
  transition: all 0.5s ease-in-out;
}

.fs__folder:hover > div.file-structure__icons > div > svg,
.fs__file:hover >  div.file-structure__icons > div > svg{
  fill: #E5BD47;
  transition: all 0.5s ease-in-out;
}

/* remove default marker */
summary {
  outline: none;
  /* cursor: pointer; */
}

details summary::-webkit-details-marker {
  display: none
}

details > summary {
  list-style: none;
}

details summary:before {
  content: '\229E';
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

details[open] > summary:before {
  content: '\229F';
}