.file-structure {
  overflow-y: scroll;
  padding: 1rem 0;
  padding-right: 1rem;
  flex: 0.3 0 10rem;
  order: -1;
  background-color: #2C363F;
}

.file-structure::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 600px) {
  .file-structure {
    flex-grow: 1.2;
    max-height: calc(100vh - 13rem);
  }
}

.file-structure__icon-folder,
.file-structure__icon-file {
  display: inline-flex;
  vertical-align: middle;
}

.file-structure__icon-folder::before {
  content: url("../../assets/icons/folder.svg");
  margin-right: 0.5rem;
}

.file-structure__icon-file::before {
  content: url("../../assets/icons/file.svg");
  margin-right: 0.5rem;
}

.fs__details {
  margin-left: 0.5rem;
}

.fs__file {
  margin-left: 1.7rem;
  pointer-events: none;
}

.fs__folder {
  cursor: pointer;
}

.fs__folder,
.fs__file {
  display: inline-flex;
  color: #DCDCDD;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.fs__folder:hover {
  color: #E5BD47;
  transition: all 0.3s ease-in-out;
}

.fs__folder:hover > .file-structure__icon-folder::before {
  content: url("../../assets/icons/opened-folder.svg");
}

summary {
  outline: none;
}

details summary::-webkit-details-marker {
  display: none
}

details > summary {
  list-style: none;
}

details summary:before {
  content: '\229E';
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

details[open] > summary:before {
  content: '\229F';
}

details[open] > .fs__folder > .file-structure__icon-folder::before {
  content: url("../../assets/icons/opened-folder.svg");
}