* {
  box-sizing: border-box;
}
body {
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  display: flex;
  flex-direction: column;
  height: inherit;
}

#root::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 10px;
}